<section>

  <h3>Contactez-moi</h3>

  <form method="POST" action="//formspree.io/{{ site.data.settings.email }}">

    <fieldset class="contact-info-group">

      <label><span>Nom</span>
        <input type="text" name="name"></label>

      <label><span>Email</span>
        <input type="email" name="_replyto"></label>

    </fieldset>

    <label><span>Message</span>
      <textarea name="message"></textarea></label>

    <fieldset class="submit-wrap">
      <input type="submit" value="Send">
    </fieldset>

  </form>

</section>
